<div class="card">
    <div class="card-header">Sample Form</div>
    <div class="card-body">
        <form method="POST" action="/sample_data/add_sample_data">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label>First Name</label>
                        <input type="text" name="first_name" id="first_name" class="form-control" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label>Last Name</label>
                        <input type="text" name="last_name" id="last_name" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" name="username" id="name" class="form-control" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label>Password</label>
                        <input type="password" name="password" id="password" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Add" />
            </div>
        </form>
    </div>
</div>