<a href="/sample_data/add" class="btn btn-success btn-sm float-end" style="font-weight:bold;">Register account</a>
<div style="background-color:rgb(212, 212, 212);">
    <form style="padding:20px;" action="/sample_data/login_sample_data" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <div id="emailHelp" class="form-text">Enter your username.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <button type="submit" class="btn btn-danger" style="font-weight:bold;">Submit</button>
    </form>
</div>