<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/sample_data/LoggedIn">Home</a></li>
      <li class="breadcrumb-item" aria-current="page"><a href="/sample_data/timeline">timeline</a></li>
      <li class="breadcrumb-item active" aria-current="page">modify item</li>
    </ol>
  </nav>
<p>Your todo has been successfully removed..</p>